<div id="<%= dom_id invoice %>">
  <p>
    <strong>Série Nota: </strong>
    <%= invoice.serie %>
  </p>

  <p>
    <strong>Número NF: </strong>
    <%= invoice.nnf %>
  </p>

  <p>
    <strong>Data de Emissão: </strong>
    <%= invoice.dhemi.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>Emitente: </strong>
    <%= invoice.emit %>
  </p>

  <p>
    <strong>Destinatário: </strong>
    <%= invoice.xnome %>
  </p>

  <p>
    <strong>Total Imposto: </strong>
    <%= invoice.total_vtotrib %>
  </p>

  <p>
    <strong>Total NF: </strong>
    <%= invoice.total_vnf %>
  </p>

</div>
