
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nitem %>
    <%= f.input :xprod %>
    <%= f.input :NCM %>
    <%= f.input :CFOP %>
    <%= f.input :uCom %>
    <%= f.input :qCom %>
    <%= f.input :vUnCom %>
    <%= f.input :vICMS %>
    <%= f.input :vIPI %>
    <%= f.input :vPIS %>
    <%= f.input :vCOFINS %>
    <%= f.association :invoice %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
