<div id="<%= dom_id product %>">
  <p>
    <strong>Nitem:</strong>
    <%= product.nitem %>
  </p>

  <p>
    <strong>Xprod:</strong>
    <%= product.xprod %>
  </p>

  <p>
    <strong>Ncm:</strong>
    <%= product.ncm %>
  </p>

  <p>
    <strong>Cfop:</strong>
    <%= product.cfop %>
  </p>

  <p>
    <strong>Ucom:</strong>
    <%= product.ucom %>
  </p>

  <p>
    <strong>Qcom:</strong>
    <%= product.qcom %>
  </p>

  <p>
    <strong>Vuncom:</strong>
    <%= product.vuncom %>
  </p>

  <p>
    <strong>Vicms:</strong>
    <%= product.vicms %>
  </p>

  <p>
    <strong>Vipi:</strong>
    <%= product.vipi %>
  </p>

  <p>
    <strong>Vpis:</strong>
    <%= product.vpis %>
  </p>

  <p>
    <strong>Vcofins:</strong>
    <%= product.vcofins %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= product.invoice_id %>
  </p>

</div>
